.service-card{
    width: 300px;
    border: 1px solid gray;
    border-radius: 8px;
    
}
.card-image img{
    
    border-radius: 8px;
}
.service-info{
    padding: 10px 0;
}
.card-button{
    width: 100px;
    height: 40px;
    padding: 0 8px;
    margin-bottom: 10px;
    background-color: #dc1d24;
    color: white;
    border: none;
    border-radius: 5px;
}
.link{
    text-decoration: none;
    color: white;
}