.service-card{
    width: 300px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow:  20px 20px 60px gray,
             -20px -20px 60px gray;
}
.card-image{
    border: 1px solid lightgray;
    border-radius: 8px;
}
.card-button{
    width: 100px;
    height: 40px;
    padding: 0 8px;
    margin-bottom: 10px;
    background-color: #dc1d24;
    color: white;
    border: none;
    border-radius: 5px;
}