.red-button{
    width: 100px;
    height: 40px;
    padding: 0 8px;
    margin-bottom: 10px;
    background-color: #dc1d24;
    color: white;
    border: none;
    border-radius: 5px;
}
.link{
    color: #dc1d24;
    text-decoration: none;
}
.red-color{
    color: #dc1d24;
}
.link-button{
    border: none;
    background-color: #212529;
    color: white;
    margin: 0;
    text-decoration: underline #dc1d24;
}
.another-btn{
    border: none;
    color: white;
    padding: 8px 8px 0 8px;
    background-color: #3f4449;
    border-radius: 5px;
}